<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

    <table style="width:100%;display:none">
        <tr><td></td></tr>

    </table>

    #dos
    <br />
    <br />
    <p>Office seen at:</p>
    #location
    <br />
    #phoneno
    <br />

    Re: #patientname
    <br />

    DOB: #dob
    <br />

    DOA: #doa

    <br />
    <br />
    <br />
    <center><b>INITIAL ORTHOPEDIC CONSULT EXAMINATION</b></center>
    <br />
    <br />
    <b>CHIEF COMPLAINT: </b>#CC1
    <br />
    <br />
    <b>HISTORY OF PRESENT ILLNESS: </b>
    #history
    <br />
    <br />
    #work_status
    #pastmedicalhistory
    #pastsurgicalhistory
    #allergies
    #pastmedications
    #socialhistory
    #ADL
    <br />
    <b>PRESENT COMPLAINTS:</b>

    #neck
    #midback
    #lowback
    #shoulder
    #knee
    #elbow
    #wrist
    #hip
    #ankle
    #otherCC
    #painScore
    #ROS
    <!--<b>REVIEW OF SYSTEMS: </b>Negative for weight loss, fever, dizziness, diplopia, seizures, memory impairment, gingival bleeding, hoarseness, chest pain, palpitation, cough, hemoptysis, dysphagia, nausea, jaundice, hematemesis, melena, constipation, diarrhea, constipation, urinary retention, dysuria, frequency, incontinence, bruising, arthritis, stiffness and skin rash.-->
    <!--<br />
    <br />-->
    <!--#work_status-->
    <b>PHYSICAL EXAMINATION:</b>

    #vital
    #PENeck
    #PEMidback
    #PELowback
    #PEShoudler
    #PEKnee
    #PEElbow
    #PEWrist
    #PEHip
    #PEAnkle
    #otherPE


    #diagnostic
    #diagnoses
    <b>PLAN:</b>
    <br />
    #treatment
    #plan
    <br />
    <br />
    #IMPRating
    <br />
    <br />
    <b><u>CAUSALITY:</u></b> It is within a certain degree of medical certainty, that the history presented by the patient, the objective physical findings as well as the diagnosis rendered is causally related to the injury the patient incurred on the specified date.  These current symptoms were nonexistent prior to the accident. Findings were discussed with the patient.
    <br />
    <br />
    <b><u>AFFIRMATION:</u></b> Being duly licensed to practice medicine in the state of New York, pursuant to the applicable provisions of the Civil Practice Laws and Rules, I hereby affirm under penalty of perjury that the statements contained herein are true and accurate.

</body>
</html>