<div class="col-md-9 row" style="margin-top: 5px">
    <div id="WrapRightPE" #rigthtdiv>
        <span><b>Right Knee:</b> </span><label style="visibility:hidden">#rightkneetitle</label>

        <br />


        <textarea id="txtPEFreeFormR" Style="width:700px;height:100px" onchange="txtAreaMe(this)">
The right knee reveals swelling/tenderness along the _____medial joint line, _____lateral joint line, _____superior pole of patella, _____ inferior pole of the patella, __popliteal fossa. There is __ heat, __ swelling, __erythema, __crepitus ____ deformity appreciated. Positive/Negative McMurray test. Positive/Negative Lachman test. Positive/Negative patellofemoral grinding test. Positive/Negative anterior drawer. Positive/Negative posterior drawer. Range of motion reveals flexion _____/130 degrees and extension _____/5 degrees. Knee is stable with varus and valgus stress test. The patient has no motor or sensory deficit of the right lower extremity.
</textarea>
    </div>

    <br />
    <div id="WrapLeftPE" #leftdiv>
        <span><b>Left Knee:</b> </span><label style="visibility:hidden">#leftkneetitle</label>

        <br />


        <textarea id="txtPEFreeFormL" Style="width:700px;height:100px" onchange="txtAreaMe(this)">
 The left knee reveals swelling/tenderness along the _____medial joint line, _____lateral joint line, _____superior pole of patella, _____ inferior pole of the patella, __popliteal fossa. There is __ heat, __ swelling, __erythema, __crepitus ____ deformity appreciated. Positive/Negative McMurray test. Positive/Negative Lachman test. Positive/Negative patellofemoral grinding test. Positive/Negative anterior drawer. Positive/Negative posterior drawer. Range of motion reveals flexion _____/130 degrees and extension _____/5 degrees. Knee is stable with varus and valgus stress test. The patient has no motor or sensory deficit of the left lower extremity.</textarea>



    </div>

</div>

<style>
    .dropdown {
        position: relative;
        width: 200px;
        display: inline-block;
    }

        .dropdown select {
            width: 100%;
        }

        .dropdown > * {
            box-sizing: border-box;
            height: 2em;
        }

        .dropdown select {
        }

        .dropdown input {
            position: absolute;
            width: calc(100% - 20px);
        }
</style>

