
<div class="col-md-9 row" style="margin-top: 5px">
    <div id="WrapRightPE" #rigthtdiv>
        <span><b>Right Shoulder:</b> </span><label style="visibility:hidden">#rightshouldertitle</label>
        <br />
        <textarea id="txtFreeFormR" Style="Width:700px;Height:100px" onchange="txtAreaMe(this)">
The right shoulder reveals swelling/tenderness to palpation over supraspinatus tendon region / AC joint /trapezius / proximal biceps tendon /coracoid / deltoid /scapula spine. There is _____heat, _____erythema, _____crepitus, _____ deformity appreciated. Positive/Negative drop arm test. Positive/Negative cross-over test. Positive/Negative empty can test. Positive/Negative Yergason test. Positive/Negative deltoid atrophy. Positive/Negative O’Brien test. Positive/Negative impingement sign. Positive/Negative Lift-off test. Positive/Negative Hawkins test. Range of motion, as per goniometer, abduction _____/180 degrees, adduction _____/45 degrees, forward flexion _____/180 degrees, extension _____/60 degrees, internal rotation _____/90 degrees, and external rotation _____/90 degrees. Internal rotation to the _____sacrum/mid back. The patient has no motor or sensory deficit of the right upper extremity.</textarea>


    </div>

    <br />
    <div id="WrapLeftPE" #leftdiv>
        <span><b>Left Shoulder:</b></span><label style="visibility:hidden">#leftshouldertitle</label>
        <br />
        <textarea id="txtFreeFormL" Style="Width:700px;Height:100px" onchange="txtAreaMe(this)">
The left shoulder reveals swelling/tenderness to palpation over supraspinatus tendon region / AC joint /trapezius / proximal biceps tendon /coracoid / deltoid /scapula spine. There is _____heat, _____erythema, _____crepitus, _____ deformity appreciated. Positive/Negative drop arm test. Positive/Negative cross-over test. Positive/Negative empty can test. Positive/Negative Yergason test. Positive/Negative deltoid atrophy. Positive/Negative O’Brien test. Positive/Negative impingement sign. Positive/Negative Lift-off test. Positive/Negative Hawkins test. Range of motion, as per goniometer, abduction _____/180 degrees, adduction _____/45 degrees, forward flexion _____/180 degrees, extension _____/60 degrees, internal rotation _____/90 degrees, and external rotation _____/90 degrees. Internal rotation to the _____sacrum/mid back. The patient has no motor or sensory deficit of the left upper extremity.</textarea>



    </div>

</div>

<style>
    .dropdown {
        position: relative;
        width: 200px;
        display: inline-block;
    }

        .dropdown select {
            width: 100%;
        }

        .dropdown > * {
            box-sizing: border-box;
            height: 2em;
        }

        .dropdown select {
        }

        .dropdown input {
            position: absolute;
            width: calc(100% - 20px);
        }
</style>

