<div class="col-md-9 row" style="margin-top: 5px">
    <div id="WrapRightPE" #rigthtdiv>
        <span><b>Right Wrist:</b> </span>
        <br />
        <textarea id="txtFreeFormR" Style="Width:700px;Height:100px" onchange="txtAreaMe(this)">
The right wrist reveals pain to palpation over the ulnar styloid/ distal radius/ scaphoid. Grip strength is ____/5. Neurovascularly intact distally. Range of motion reveals flexion _____/70 degrees, extension _____/70 degrees, radial deviation _____/20 degrees, ulnar deviation _____/40 degrees.
</textarea>

    </div>

    <br />
    <div id="WrapLeftPE" #leftdiv>
        <span><b>Left Wrist:</b></span>
        <br />
        <textarea id="txtFreeFormL" Style="Width:700px;Height:100px" onchange="txtAreaMe(this)">
The left wrist reveals pain to palpation over the ulnar styloid/ distal radius/ scaphoid. Grip strength is ____/5. Neurovascularly intact distally. Range of motion reveals flexion _____/70 degrees, extension _____/70 degrees, radial deviation _____/20 degrees, ulnar deviation _____/40 degrees.</textarea>



    </div>

</div>


<style>
    .dropdown {
        position: relative;
        width: 200px;
        display: inline-block;
    }

        .dropdown select {
            width: 100%;
        }

        .dropdown > * {
            box-sizing: border-box;
            height: 2em;
        }

        .dropdown select {
        }

        .dropdown input {
            position: absolute;
            width: calc(100% - 20px);
        }
</style>



<script type="text/javascript">

   // window.load = PopulateDropDownList();

    function PopulateDropDownList() {


      //  var ddlRangeOfMotionRight = document.getElementById("ddlRangeOfMotionRight");
        if (ddlRangeOfMotionRight.options.length === 0) {
            var ddlRangeOfMotionLeft = document.getElementById("ddlRangeOfMotionLeft");

            ddlRangeOfMotionLeft.options.length = 0;
            ddlRangeOfMotionRight.options.length = 0;

            $.get('/xml/HSMData.xml', function (res) {

                //var $xml = $(xmlDoc);

                // Find Person Tag
                var Rom = $(res).find("ROM");


                for (var i = 0; i < Rom.length; i++) {
                    var optionL = document.createElement("option");
                    var optionR = document.createElement("option");

                    //Set Customer Name in Text part.
                    optionL.text = Rom[i].getAttribute('name');
                    optionR.text = Rom[i].getAttribute('name');


                    //Add the Option element to DropDownList.
                    ddlRangeOfMotionLeft.options.add(optionL);
                    ddlRangeOfMotionRight.options.add(optionR);
                }

            });
        }
    }

    function checkMe(chk) {

        if ($(chk).prop("checked")) {
            if ($(chk).attr("type") === "radio")
                $("[name=" + $(chk).attr("name") + "]").removeAttr('checked');
            $(chk).attr('checked', 'checked');
        }
        else {
            $(chk).removeAttr('checked');
        }

    }

    function txtMe(txt) {
        var val = $(txt).val();
        $(txt).attr('value', val);
    }

    function selectVal(txtid, val) {

        $("#" + txtid).attr('value', val);
    }

    function startButton(event) {
        controlname = "#txtFreeForm";
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = 'en';
        recognition.start();
        ignore_onend = false;
        final_span1.innerHTML = '';
        interim_span1.innerHTML = '';

        start_timestamp = event.timeStamp;
    }

    function txtAreaMe(txt) {
        debugger
        var val = $(txt).val();
        $(txt).text(val);
    }
</script>